<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /dashboard
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    #Develop
    RewriteRule ^(.*)$ /dashboard/index.php/$1 [L]
    
    #Production
    #RewriteRule ^(.*)$ /dashboard/index.php/$1 [L]
</IfModule>
